<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body class="edit form">
  <%- include('../partials/header')%>
<form action="/books/<%= book._id %>?_method=PUT" method="POST">
  <label>Title:
    <input type="text" name="title" id="" value="<%= book.title %>">
  </label><br>
  <label>Genre:
    <select name="genre" id="genre">
      <option value="Fiction">Fiction</option>
      <option value="Non-fiction">Non-Fiction</option>
      <option value="Mystery">Mystery</option>
      <option value="Autobiography">Autobiography</option>
      <option value="Other">Other</option>
    </select>
  </label><br>
  <label>Author:
    <input type="text" name="author" id="" value="<%= book.author %>">
  </label><br>
  <label>Image-URL:
    <input type="text" name="imgURL" id="" value="<%= book.imgURL %>">
  </label><br>
  <label>Price:
<input type="number" name="price" id="" value="<%= book.price %>">
  </label><br>
  <label>ISBN:
    <input type="number" name="isbn" id="" value="<%= book.isbn %>">
  </label><br>
  <button type="submit">Update Book</button>
</form>

<%- include('../partials/footer')%>
</body>
</html>
