<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="index-page">
  <%- include('../partials/header')%>
  <div class="nav-container">
    <nav class="nav-bar">
      <ul class="menu">
        <li class="nav-home">
          <a href="/">Home</a>
        </li>
        <li class="nav-add">
          <a  href="/books/new">Add Book</a>
        </li>
        <li class="nav-all">
          <a href="/books"> <strong>All Books</strong></a>
        </li>
      </ul>
    </nav>
    </div>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Image</th>

    </tr>
  </thead>
  <tbody>
    <% books.forEach(b => {%>
      <tr>
        <td><%=b.title%></td>
        <td><%=b.author%></td>
        <td><a href="/books/<%= b._id %>"><img src="<%= b.imgURL %>" height="250" width="250"><br>
          <%= b.title %>
        </a></td>
        <!-- <td><a href="/books/<%=b._id%>">Details</a></td> -->
      </tr>
    <% })%>
  </tbody>
</table>



  <%- include('../partials/footer') %>
</body>
</html>
