<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body class="home-page">
  <%- include('./partials/header')%>


<table class="home-table">
  <tbody>
    <tr class="genre">
      <td class="genre-cell">
        <div class="name">
          <h3>Fiction</h3>
        </div>
      </td>
      <td class="book-cell">
        <div id="book">
          <% fiction.forEach((b,i)=> {%>
              <% if(i < 5){%>
                <a href="/books/<%= b._id %>"><img src="<%= b.imgURL %>" height="200" width="200"></a>
                <% } %>
         <% } )%>
        </div>
      </td>
    </tr><br>
    <tr class="genre">
      <td class="genre-cell">
        <div class="name">
          <h3>Non-Fiction</h3>
        </div>
      </td>
      <td class="book-cell">
        <div id="book">
          <% nonfiction.forEach((b, i)=> {%>
            <% if(i < 5){%>
              <a href="/books/<%= b._id %>"><img src="<%= b.imgURL %>" height="200" width="200"></a>
              <% } %>
       <% } )%>
        </div>
      </td><br>
    </tr><tr class="genre">
      <td class="genre-cell">
        <div class="name">
          <h3>Mystery</h3>
        </div>
      </td>
      <td class="book-cell">
        <div id="book">
          <% mystery.forEach((b, i)=> {%>
            <% if(i < 5){%>
              <a href="/books/<%= b._id %>"><img src="<%= b.imgURL %>" height="200" width="200"></a>
              <% } %>
       <% } )%>
        </div>
      </td><br>
    </tr><tr class="genre">
      <td class="genre-cell">
        <div class="name">
          <h3>Autobiography</h3>
        </div>
      </td>
      <td class="book-cell">
        <div id="book">
          <% autobio.forEach((b, i)=> {%>
            <% if(i < 5){%>
              <a href="/books/<%= b._id %>"><img src="<%= b.imgURL %>" height="200" width="200"></a>
              <% } %>
       <% } )%>
        </div>
      </td><br>
    </tr><tr class="genre">
      <td class="genre-cell">
        <div class="name">
          <h3>Other</h3>
        </div>
      </td>
      <td class="book-cell">
        <div id="book">
          <% other.forEach((b, i)=> {%>
            <% if(i < 5){%>
              <a href="/books/<%= b._id %>"><img src="<%= b.imgURL %>" height="200" width="200"></a>
              <% } %>
       <% } )%>
        </div>
      </td><br>
    </tr>
</tbody>
</table>
  <%- include('./partials/footer')%>
</body>

